.site {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 250px 250px 250px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "header header header header"
        "graphLM graphLM graphGyro graphGyro"
        "graphSM graphSM graphAfstand graphAfstand"
        "graphDruk graphDruk graphKleur graphKleur"
        "dataTable dataTable dataTable dataTable";
}

#header {
    grid-area: header;
     /*background: rgb(255, 0, 0); */
}

#graphLM {
    grid-area: graphLM;
    /*background: rgb(255, 238, 0); */
    position: relative;
}

#graphGyro {
    grid-area: graphGyro;
    /*background: rgb(0, 255, 200);*/
    position: relative;
}

#graphSM {
    grid-area: graphSM;
    position: relative;
}

#graphAfstand {
    grid-area: graphAfstand;
    position: relative;
}

#graphDruk {
    grid-area: graphDruk;
    position: relative;
}

#graphKleur {
    grid-area: graphKleur;
    position: relative;
}


#dataTable {
    grid-area: dataTable;
    /*background: rgb(255, 0, 149);*/
}

canvas {
    /*background: rgb(74, 3, 83);*/
    position: absolute;
    height: 100%;
    width: 100%;
}